:root {
    --bg-color-1: rgb(74, 79, 102);
    --bg-color-2: rgba(0, 0, 0, 0.5);
    --accent-color-1: rgb(255, 238, 0);
    --accent-color-2: rgba(0, 0, 0, 0.5);
    --shadow-light: rgba(0, 0, 0, 0.349);
}

* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--bg-color-1);
    padding-left:20%;
    padding-top:15%;
    font-family: 'Verdana', serif;
}

div.main{
    display:flex;
    align-items:center;
    color:var(--accent-color-1)
}
img.main{
    height:20%;
    width:20%;
    margin-right:5%;
}