:root {

}

* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: chomsky;
    src: url(fonts/Chomsky.otf);
}

body {
    background-color:darkslategray;
}

div.card {
    background-color: aquamarine;

    position: absolute;
    top: 50%;
    left: 50%;

    margin:0;
    transform: translate(-50%, -50%);

    padding: 2%;
    padding-inline: 5%;
    




    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

p.card {
    text-align: center;
    font-size: 2vh;
}

h1.card {
    font-size: 5vh;
    font-family: chomsky;
}


    /* media queries */

@media (min-width: 280px) {
    div.card {
        width: 95%;
    }
}

@media (min-width: 430px) {
    div.card {
        width: 90%;
    }
}

@media (min-width: 768px) {
    div.card {
        width: 80%;
    }
}

@media (min-width: 1280px) {
    div.card {
        width: 60%;
    }
}

