:root {

}

* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: chomsky;
    src: url(fonts/Chomsky.otf);
}

body {
    background-color:darkslategray;
}

div.card {
    background-color: aquamarine;
    min-height:300px;
    position: relative;
    top: 50%;
    transform: translateY(50%);

    margin-inline: auto;

    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

p.card {
    text-align: center;
}

h1.card {
    font-size:36px;
    font-family: chomsky;
}


    /* media queries */

@media (min-width: 280px) {
    div.card {
        width: 95%;
    }
}

@media (min-width: 430px) {
    div.card {
        width: 90%;
    }
}

@media (min-width: 768px) {
    div.card {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    div.card {
        width: 60%;
    }
}